rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      // Allow the owner to read their own document, and allow anyone to get a document (for public profiles)
      allow get: if true;
      allow list: if request.auth != null && request.auth.uid == userId;

      // Only the authenticated owner can write to their profile
      allow write: if request.auth != null && request.auth.uid == userId;

      match /links/{linkId} {
        // Allow public read of all links for a user
        allow read: if true;

        // Only the authenticated owner can write to their links
        allow write: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}
